{% extends "./base.html" %}


{% block title %} Home  {% endblock %}

{% block content %}
<br>
<br>

<div  class=" container">
	<div class="mx-auto">
		  <div data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="card bg-dark ">
  <img src="/static/image/background.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title">About Mosiv</h1>
    <p class="card-text">It can be an interesting experience looking around at websites
									in particular industries to identify trends and see how they differ from those in other
									industries. In this article, we’ll take a look at the websites of major motion pictures
									to see what types of websites are being created. Movies are a big part of the entertainment
									industry, and in recent years their websites have become increasingly critical to their
									overall success.</p>
    <p class="card-text">sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien</p>
  </div>
</div>



						<div class="about-icons">
                            <ul>
                                <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>

								<li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>

                            </ul>

	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>
                    </div>
                </div>
            </div>	<script type="text/javascript">
		</script>
</div>

	</div>
</div>
<br>
<br>
<br>
<br>



{% endblock content %}
